div h1.title{
	display:none;
}

div.passwordreminder-content{
	text-align:center;
	width: 500px;
	margin-top:24px;
	margin-left: auto;
	margin-right: auto;	
	font-family:'BentonSansRE', Verdana, Arial, Helvetica, sans-serif;
}

p.passwordreminder-header{
	width:100%;
	float:right;
	font-family: 'WhitmanDisplay Regular', Georgia, serif;
	font-size: 22px;
}
div.passwordreminder-normal{
	text-align:left;
	margin-top:24px;
}
div.passwordreminder-content label{
	font-weight:bold;
}
div.passwordreminder-content input{
	width:300px;
}
#edit-email-wrapper{
	width:300px;
	display:inline;
}
#edit-submitbutton {
	font-family:'BentonSansRE', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:5px 0px;
	border:none;
	color:#fff;
	padding:0 38px;
	background:url(/sites/all/themes/andrew_harper/images/r_l.gif) left center no-repeat,
	url(/sites/all/themes/andrew_harper/images/r_r.gif) right center no-repeat,
	url(/sites/all/themes/andrew_harper/images/r_m.gif) center center repeat-x;
}